<div [ngClass]="{'nav-sticky':isStickyNav}" id="nav">this should be header</div>
<div class="wrapper">
  <div class="left-wrapper">
    <div class="flight-info">flight info</div>
    <div appMyNguiSticky stickyAfter="#nav">
      <ul>
        <li>pax1</li>
        <li>pax2</li>
        <li>pax3</li>
        <li>pax4</li>
        <li>pax5</li>
        <li>pax6</li>
        <!-- <li>pax1</li>
        <li>pax1</li>
        <li>pax1</li> -->
      </ul>
      diff:{{diff|json}}
    </div>
  </div>
  <div class="content">
    <ul>
      <li>1 this should be some content</li>
      <li>2 this should be some content</li>
      <li>3 this should be some content</li>
      <li>4 this should be some content</li>
      <li>5 this should be some content</li>
      <li>6 this should be some content</li>
      <li>7 this should be some content</li>
      <li>8 this should be some content</li>
      <li>9 this should be some content</li>
      <li>10 this should be some content</li>
      <li>11 this should be some content</li>
      <li>12 this should be some content</li>
      <li>13 this should be some content</li>
      <li>14 this should be some content</li>
      <li>15 this should be some content</li>
      <li>16 this should be some content</li>
      <li>17 this should be some content</li>
      <li>18 this should be some content</li>
      <li>19 this should be some content</li>
      <li>20 this should be some content</li>
      <li>21 this should be some content</li>
      <li>22 this should be some content</li>
    </ul>
  </div>
</div>