<div>this should be header</div>
<div class="wrapper">
  <div class="left-wrapper">
    <div class="flight-info">flight info</div>
    <div appMyNguiSticky style="float: left">
      <ul>
        <li>pax1</li>
        <li>pax1</li>
        <li>pax1</li>
        <!-- <li>pax1</li>
        <li>pax1</li>
        <li>pax1</li> -->
      </ul>
      diff:{{diff|json}}
    </div>
  </div>
  <div class="content">
    <ul>
      <li>this should be some content</li>
      <li>this should be some content</li>
      <li>this should be some content</li>
      <li>this should be some content</li>
      <li>this should be some content</li>
      <li>this should be some content</li>
      <li>this should be some content</li>
      <li>this should be some content</li>
      <li>this should be some content</li>
      <li>this should be some content</li>
      <li>this should be some content</li>
    </ul>
  </div>
</div>